@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
$flexi-brand: #000000;
$mobile-break: 640px;
$tablet-break: 1024px;
$laptop-break: 1300px;
$flexi-family: "Press Start 2P", cursive;
$flexi-padding: 8px 15px;
$flexi-li-padding: 12px 0px;
$flexi-fsize: 16px;
$flexi-color: #ffffff;
$flexi-overlay-bg: #000000;
$primary: #229789;
$secondary: #cb1fa2;
$blurple: #4992ff;
$pink: #f257b8;
$black: #131212;
$white: #ffffff;
$red: rgba(244,67,54,1);
$blue:rgba(33,150,243,1);